<html>
   <head>
      <meta charset="utf-8">
      <title> New Video </title>
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
   </head>
   <body>
      
      <form action="/video/add" id="newVideoForm">

        <fieldset>
            <br/>

            <div class="row">
                <div class="span8">
                    <div class="control-group">
                        <label for="cat" class="control-label">Category:</label>
                        <div class="controls">
                            <input type="text" name="cat" value="youku" />
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="id" class="control-label">Vid:</label>

                        <div class="controls">
                            <input type="text" name="vid" />
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="type" class="control-label">Type:</label>

                        <div class="controls">
                            <input type="text" id="type" name="type" value="mp4"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="country" class="control-label">Country:</label>

                        <div class="controls">
                            <input type="text" id="country" name="country" value="China"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="language" class="control-label">Languages:</label>

                        <div class="controls">
                            <input type="text" id="region" name="language" value="Chinese"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="year" class="control-label">Year:</label>

                        <div class="controls">
                            <select class="input-small" id="year" name="year" value="2013">
                                <option
                                selected >2012</option>
                                <option
                                >2011</option>
                                <option
                                >2010</option>
                                <option
                                >2009</option>
                                <option
                                >2008</option>
                                <option
                                >2007</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="submit" class="control-label">Go:</label>

                        <div class="controls">
                           <input type="submit" value="Go" />
                        </div>
                    </div> 

                </div>

            </div>

        </fieldset>

      </form>
      <div id="status">new</div>
      <script>
            /* attach a submit handler to the form */
            $("#newVideoForm").submit(function(event) {
             
              /* stop form from submitting normally */
              event.preventDefault();
             
              /* get some values from elements on the page: */
              var $form = $( this ),
                  vid = $form.find( 'input[name="vid"]' ).val(),
                  vt = $form.find( 'input[name="type"]' ).val(),
                  cat = $form.find( 'input[name="cat"]' ).val(),
                  url = $form.attr( 'action' );
             
              /* Send the data using post */
              var posting = $.ajax({
                type : "POST",
                'url': "/"+cat+"/add",
                'contentType' : 'application/json', 

                data: JSON.stringify({ vcat: cat, vid: vid, type: vt }) 
              });
             
              /* Put the results in a div */
              posting.done(function( data ) {
               console.log("Submitted");
               var player = $('<a>',{text: 'open player',href: "/"+ data.vCat + "/" +data._id});
               $( "#status" ).empty().append( player );
              });
            });
         </script>
      
   </body>
</html>

